<%- include("header") -%>

<h2>This is about page.</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum incidunt voluptatem excepturi ad neque dolor temporibus numquam doloribus nobis, eligendi magnam labore eum possimus mollitia veritatis ipsam laboriosam iure rerum ullam consequuntur minima minus totam? A nihil amet aliquid alias quia? Animi adipisci, eveniet recusandae perferendis sunt sapiente eaque nostrum!</p>

<%- include("footer") -%>